.box-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.mobile-none {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.desktop-none {
  @include media-breakpoint-up(md) {
    display: none;
  }
}