$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif;

// Colors
$color-dark-gray: #27272b;
$color-success: #0a993c;
$theme-colors: (
  "success": #0a993c,
);

// Spacers
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
) !default;
