$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif;

// Colors
$dark-gray-color: #27272b;
$success-color: #0a993c;
$theme-colors: (
  "success": $success-color,
);
$body-color: $dark-gray-color;


// Spacers
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer,
  3: $spacer * 1.5,
  4: $spacer * 2,
  5: $spacer * 2.5,
  6: $spacer * 3,
) !default;

// Sizes
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 760px,
);
