.card {
  @include box-shadow;
  &-header {
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 1rem 0 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: 1px solid #eee;
  }
  &-icon {
    min-width: 76px;
    width: 76px;
    height: 76px;
    padding: 0.4rem;
    align-self: flex-start;
    @include gradient;
    @include gradient-box-shadow;
    @include media-breakpoint-up(md) {
      margin-top: -2rem;
    }
  }
  &-title {
    line-height: 1.4;
    font-size: 1.3rem;
    margin: 0;
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: flex-end;
      width: 100%;
      line-height: 0.6;
      margin-bottom: 0.75rem;
    }
  }

  .text-sm {
    font-size: 14px;
    color: #999;
  }
  &-times {
    &-item {
      padding: 1.5rem;
    }
    &-time {
      font-size: 1.5rem;
    }
  }
  &-footer {
    padding: 1rem 0 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #fff;
    border-top: 1px solid #eee;
    &-date {
      display: flex;
      flex-direction: column;
      &-item {
        margin-bottom: 0.3rem;
      }
      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .time-list-table {
    th,
    td {
      border: 0;
      border-bottom: 1px solid #eee;
    }
    th {
      font-weight: normal;
    }
    tr.active-item {
      @include gradient;
      color: #fff;
    }
    tr:last-child {
      td {
        border: 0;
      }
    }
  }
  .time-list-mobile {
    list-style: none;
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
      padding: 0.75rem;
      border-bottom: 1px solid #eee;
    }
    li:last-child {
      border: 0;
    }
    li.time-list-mobile-header {
      border: 1px solid #d8d8d8;
      background-color: #f9f9f9;
      text-align: center;
      display: block;
      font-weight: normal;
      &.active-item {
        @include gradient;
        @include gradient-box-shadow;
        color: #fff;
        border: 0;
      }
    }
  }
}
