.time-list {
  &__title {
    font-size: 1.5rem;
  }
  &__table {
    border: 1px solid #dee2e6;
    @include media-breakpoint-down(sm) {
      display: none;
    }
    thead {
      border: 1px solid $success-color;
    }
    .active-item {
      background-color: lighten($success-color, 3%) !important;
      color: #fff;
    }
    tbody {
      td {
        padding: 0.5rem;
      }
    }
  }

  &__mobile {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: flex;
        justify-content: space-between;
        border: 1px solid #d8d8d8;
        border-bottom: none;
        font-size: 15px;
        padding: 0.5rem 0.75rem;
        color: #5b5b5b;

      }
      &:last-child {
        li {
          border: 1px solid #d8d8d8;
        }
      }
    }
    &-head {
      justify-content: center !important;
      background-color: #f9f9f9;
      font-weight: 700;
    }
    .active-item {
      li:first-child {
        background-color: $success-color;
        border: 1px solid $success-color;
        color: #fff;
      }
    }
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
