// .time-card {
//   &__title {
//     color: $color-dark-gray;
//     font-weight: 500;
//     font-size: 2rem;
//   }
//   &__body {
//     padding: 2rem 2rem calc(2rem + 14px);
//   }
//   &__timings {
//     position: relative;
//     &::after {
//       content: "";
//       position: absolute;
//       left: 0;
//       bottom: 0;
//       width: 100%;
//       height: 2px;
//       background-color: darken($color-success, 10%);
//       z-index: 5;
//       @include media-breakpoint-down(sm) {
//         display: none;
//       }
//     }
//   }
//   &__item {
//     position: relative;
//     padding-bottom: 28px;
//     color: rgba(255, 255, 255, 0.9);
//     &:not(.disable-time)::after {
//       content: "";
//       position: absolute;
//       bottom: -14px;
//       left: calc(50% - 14px);
//       width: 28px;
//       height: 28px;
//       border: 2px solid darken($color-success, 10%);
//       border-radius: 50%;
//       background-color: $color-success;
//       z-index: 10;
//       @include media-breakpoint-down(sm) {
//         display: none;
//       }
//     }
//     &.active-time {
//       font-weight: 500;
//       color: #fff;
//       &::after {
//         background-color: #fff;
//       }
//     }
//   }
//   &__time {
//     font-size: 2rem;
//   }
// }
.time-card {
  &__body {
    padding: 1.5rem 1.5rem 0;
  }
  &__title {
    font-weight: 500;
    font-size: 2rem;
  }
  &__item {
    padding-bottom: 1.5rem;
  }
  &__time {
    font-size: 2rem;
  }
  &__name {
    font-size: 1rem;
  }
}
